body {
  font-family: futura, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 1vw;
}


tr{
  height:20em;
}

.td{
  width: 15%;
}


#full_page{
    margin-top: 0;
    width: 70%
}

#left_click{
width: 100%
}

#left_click img{
width: 50%;
margin: 0 auto;
opacity: .2;
}

#left_click img:hover{

opacity: .75;
}

#right_click{
width: 100%
}

#right_click img{
width: 50%;
margin: 0 auto;
opacity: .2;
}

#right_click img:hover{

opacity: .75;
}

#full_page{
  width: 70%;
  padding-bottom: 2%;
}

#resume{
  position: relative;
}

#resume img{
  width: 2%;
  float:left;
  padding-left: .75%;
}

#resume #resumetext {
    visibility: hidden;
    background-color: white;
    color: black;
    border-radius: 6px;
    position: absolute;
    font-size: 1vw;
    top: 100%;
    border: solid;
    border-color: black;
    border-width: 2px;
    right: 40em;
    text-align: center;
    padding: 10px 0;

}

#resume:hover #resumetext {
    visibility: visible;
}

h1{
  margin-top: 0;
  font-size: 5vw;
  text-align: center;
}

#ben {
  font-weight: 900;
  letter-spacing: 12px;
  color: black;
  transition: color .5s;
}

h3 {
  margin-top: 0;
  font-size: 1.5vw;
  text-align: center;
}

#ben:hover{
  color: gray;
}

#explanation {
  color: black;
  font-family: futura;
  font-weight: 500;
  letter-spacing: .25em;
}

#picture_about{
  padding-top: 2%;
  padding-bottom: 5%;
  width: 30%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%
  align-items:center;
}

#ben_photo{
  width:90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%

}

#ben_about{
  width:100%;
  text-align: left;
  padding-top: 2%;
  padding-bottom: 1%;
}

#project_left {
  padding-bottom: 4%;
}

#project_right {
  padding-bottom: 4%
}

#project_left p{
  padding-left: 25%;
  padding-right: 25%;
  text-align: left
}

#project_right p{
  padding-left: 25%;
  padding-right: 25%;
  text-align: left
}

.project_picture{
width: 75%;
border:1px solid #021a40;
}

.links{
    position: relative;
}

.links img{
  padding-top: 1%;
  width:3%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 2%;

}


.links .linktext {
    visibility: hidden;
    background-color: white;
    color: black;
    border-radius: 6px;
    position: absolute;
    font-size: 1vw;
    bottom: 6em;
    left: 0%;
    text-align: center;
    padding: 10px 0;
    margin-left: -155px;
    border: solid;
    border-color: black;
    border-width: 2px;
    width:400%;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.links:hover .linktext {
    visibility: visible;
}

.links:hover{
  padding-top: 0;
  width:4%;
}

#bottom{
  display: block;
  margin-left:auto;
  margin-right:auto;
}
